
.main {
    background-color: #171E28;
    flex: 1 1 auto;
}

._conteiner {
    max-width: 1320px;
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: content-box;
}