.footer {
    background-color: #171E28;
    text-align: center;
    padding-bottom: 10px;

    p {
        font-size: 12px;
        line-height: 18px;
        color: #fff;
    }

    span {
        color: #8F7FFF;
    } 
}